.square {
    background-color:white;
    min-width:5px;
    min-height:5px;
    border: 1.5px solid black;
    display:flex;
    flex: 1 0 auto;
}


.box {
    display:flex;
    flex-direction:row;
    width:700px;
    height:700px;
}

.row{
    display:flex;
    flex-direction:column;
    flex: 1 0 auto;
}

body{
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:#DFECC0;
    height:100vh;
    width:100%;
}

h1{
    display:flex;
    justify-content:center;
    font-size:55px;
    font-family: "Gill Sans", sans-serif;
}

#rangeSlider {
    display:flex;
    flex-direction:column;
    align-items:center;
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
}

.panel {
    display:flex;
    gap:15px;
    margin-bottom:25px;
    align-items:center;
    justify-content:center;
}

#refresh,
#rainbow,
#eraser {
    border-radius:3px;
    /*border: 2px solid grey;*/
    font-size:14px;
    font-weight:bold;
    height:38px;
}

#rainbow {
    background-color: #F02D3A;;
    color:#1E2EDE; 
    border: 2px solid #38E2A1;
}

#eraser {
    background-color: pink;
}

#refresh {
    background-color: white;
    color:black;
}


.github {
    display:flex;
    align-items:center;
    gap:10px;
    font-family: "Gill Sans", sans-serif;
    width:100%;
    justify-content:center;
}

.github img {
    height:30px;
}

.top {
    display:flex;
    flex-direction:column;
    justify-content:center;
}